<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Afluencia</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="dashboard">
    <header class="header">
        <h1>Monitor de Afluencia en Tiempo Real</h1>
        <!-- Formulario para introducir la URL de la cámara por fetch
        <div class="url-form">
            <input type="text" id="url-input" placeholder="Introduce la URL de la cámara">
            <button id="start-btn">Iniciar Captura</button>
        </div>
        -->
        <!-- Formulario para introducir la URL de la cámara por th en controller normal -->
        <form th:action="@{/captureth}" method="post" class="url-form">
            <input type="text" id="camera-url" name="url" placeholder="Introduce la URL de la cámara" required>
            <button type="submit" id="startth" value="start">Iniciar Captura</button>
        </form>

        <div class="stats">
            <div class="stat-card total">
                <span class="stat-value" id="total-people">0</span>
                <span class="stat-label">Personas ahora</span>
            </div>
            <div class="stat-card locations">
                <span class="stat-value" id="total-locations">0</span>
                <span class="stat-label">Ubicaciones</span>
            </div>
        </div>
    </header>

    <!-- Filtro de ubicaciones -->
    <div class="location-filter">
        <select id="location-select">
            <option value="all">Todas las ubicaciones</option>
        </select>
    </div>

    <div class="captures-grid" id="captures-container">
        <!-- Capturas generadas con JS -->
    </div>
    <!--
    <div class="captures-grid">
        <div class="capture-card" th:each="capture : ${captures}">
            <img th:src="@{${capture.imageUrl}}" alt="Capture Image">
            <div class="capture-info">
                <span class="capture-location" th:text="${capture.location}">Ubicación</span>
                <span class="capture-time" th:text="${capture.date}">Fecha y Hora</span>
            </div>
        </div>
    </div>
    -->

    <div class="real-time-indicator">
        <span class="pulse"></span>
        <span>Tiempo real</span>
    </div>
</div>
<form method="post" th:action="@{/logout}" class="logout-form">
    <button type="submit" class="logout-button">Cerrar Sesión</button>
</form>

<script src="/js/app.js"></script>
</body>
</html>
